{% extends "base.html" %}

{% block content %}
    <script>
        function req(filename){
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/process/" + filename);
            xhr.send();
        }
    </script>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
    <ul>
        {% for filename, attr in file_list %}
            <li>
                {{ filename }}
                {% if "processing" not in attr and "processed" not in attr %}
                    <button type="button" onclick="req('{{ filename }}')">Submit</button>
                {% endif %}
                {% if "processed" in attr %}
                    <a href="/download/processed/{{ filename }}">Processed</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
