{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
        <h1 class="title">Video Super Resolution</h1>
        <div class="subtitle">Computer Graphics Project Demo</div>
        <form class="upload" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
        <div class="table">
            {% for filename, attr in file_list %}
                <div class="entry">
                    {% if "processing" not in attr and "processed" not in attr %}
                        <button type="button" onclick="req('{{ filename }}')">
                            <span class="material-icons">cloud_upload</span>
                        </button>
                    {% elif "processing" in attr %}
                        <span class="material-icons">sync</span>
                    {% elif "processed" in attr %}
                        <a href="/download/processed/{{ filename }}">
                            <span class="material-icons">done</span>
                        </a>
                    {% endif %}
                    {{ filename }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
